.form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.form__padrao {
  font-size: 1.5rem;
  background: rgb(26, 26, 34);
  border: none;
  border-bottom: 1px solid;
  padding: 1rem;
  margin: 0.6rem 0;
  color: rgb(225, 241, 255);
  position: relative;
  resize: none;
}

.form__padrao::placeholder {
  color: rgb(225, 241, 255);
}

.form__padrao:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.form__label {
  font-size: 1.5rem;
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 15px;
  transition: all 0.1s;
}

.form__label--focado {
  font-size: 1rem;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 5px;
  transition: all 0.3s;
}
.botao__submit{
  max-width: 100px;
  background-color: rgb(26, 26, 34);
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.5rem;
  color: rgb(225, 241, 255);
  cursor: pointer;
  position: relative;
}
.botao__submit::before {
  content: "";
  position: absolute;
  width: 15px;
  border-radius: 3px;
  height: 2px;
  background: rgb(225, 241, 255);
  top:40px;
  left: 5px;
  transition: all 0.3s;
}
.botao__submit:hover::before {
  display: inline;
  width: 90px;
  transition: all 0.3s;
}


@media(max-width:550px){
  .form{
    margin: 0 0 3rem 0;
  }
}